
@{
    ViewData["Title"] = "EmpDetail";
}

<h1>EmpDetail</h1>



<table class="table">
    <tr>
        <th>Employee Id</th>
        <td>@ViewBag.EmpId</td>
    </tr>
    <tr>
        <th>Employee Name</th>
        <td>@ViewBag.EmpName</td>
    </tr>
    <tr>
        <th>Employee Salary</th>
        <td>@ViewBag.EmpSalary</td>
    </tr>
    <tr>
        <th>Department</th>
        <td>@ViewBag.Department</td>
    </tr>
    

</table>
