
@{
    ViewData["Title"] = "CustOrder";
}

<h1>CustOrder</h1>

<h1>Details</h1>

<table class="table">
    <tr>
        <th>Customer Name</th>
        <td>@ViewBag.Name</td>
    </tr>
    <tr>
        <th>Customer Mobile Number</th>
        <td>@ViewBag.Mobile</td>
    </tr>
    <tr>
        <th>Payment Mode</th>
        <td>@ViewBag.Payment</td>
    </tr>
    <tr>
        <th>Cutomer Order Snacks</th>
        <td>@ViewBag.Snacks</td>
    </tr>
 
</table>
